# Entorno de la aplicación
NODE_ENV=development

# Configuración del servidor
PORT=3000
VUE_APP_API_URL=http://localhost:3000/api

# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=websap

# Configuración JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=24h

# Otras configuraciones
LOG_LEVEL=info