93.127.129.46 {
    # Comprimir las respuestas para mejorar la velocidad
    encode gzip

    # Manejar todas las solicitudes
    handle {
        # Reenviar solicitudes a tu aplicación Node.js
        reverse_proxy localhost:3000
    }

    # Registro de logs
    log {
        output file /var/log/caddy/websap.log
    }
}

# Configuración alternativa si tienes un nombre de dominio
# midominio.com {
#     # Caddy gestionará automáticamente SSL/TLS con Let's Encrypt
#     reverse_proxy localhost:3000
# }